# torch is what is giving the build error: to continue to get 
# sentiment values I need to use a different hosting other than
# heroku like microsoft azure or aws
torch==2.0.1
Django==4.1.7
django-heroku==0.3.1
gunicorn==21.2.0
openai==0.27.8
pytz==2023.3
whitenoise==6.5.0
dj-database-url==2.1.0